# zip([iterable, ...])
This function returns a list of tuples. The th tuple contains the th element from each of the argument sequences or iterables.

If the argument sequences are of unequal lengths, then the returned list is truncated to the length of the shortest argument sequence.

In [1]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica")

x = zip(a, b)

In [5]:
print(x)

<zip object at 0x0000019C78ED8F08>

In [6]:
tuple(x)

(('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica'))

In [7]:
a = ("John", "Charles", "Mike")
b = ("Jenny", "Christy", "Monica", "Vicky")

x = zip(a, b)
tuple(x)

(('John', 'Jenny'), ('Charles', 'Christy'), ('Mike', 'Monica'))

In [9]:
tuple(zip([1,2,3,4,5,6],'Hacker'))

((1, 'H'), (2, 'a'), (3, 'c'), (4, 'k'), (5, 'e'), (6, 'r'))

In [13]:
A = [1,2,3]
B = [6,5,4]
C = [7,8,9]
X = [A] + [B] + [C]
print(X)
print(tuple(zip(*X)))

[[1, 2, 3], [6, 5, 4], [7, 8, 9]]
((1, 6, 7), (2, 5, 8), (3, 4, 9))

In [49]:
a = '89 90 78 93 80'
b = '90 91 85 88 86'
c = '91 92 83 89 90.5'

In [50]:
a = list(map(float, a.split()))
b = list(map(float, b.split()))
c = list(map(float, c.split()))
X = [a]+[b]+[c]

In [52]:
list(zip(*X))

[(89.0, 90.0, 91.0),
 (90.0, 91.0, 92.0),
 (78.0, 85.0, 83.0),
 (93.0, 88.0, 89.0),
 (80.0, 86.0, 90.5)]

In [65]:
s = tuple(zip(*X))
len(s)

5

## average of a tuple valude

In [66]:
for i in range(len(s)):
    sm = 0
    for j in s[i]:
        sm += j
        n=len(s[0])
    print(sm/n)

90.0
91.0
82.0
90.0
85.5

In [68]:
for i in s:
    print(sum(i)/len(i))

90.0
91.0
82.0
90.0
85.5

# input()
input() and eval() perform the same task of evaluating an expression.

In [77]:
def p(x,k):
    p = x**3 + x**2 + x + 1
    print(bool(p == k))

In [78]:
x = 1 
k = 4
p(x,k)

True

## eval(expression, globals, locals)
expression should be a string
The eval() function evaluates the specified expression, if the expression is a legal Python statement, it will be executed.

In [83]:
eval('x**3 + x**2 + x + 1')==k

True

In [85]:
x = 2
print(eval ('x+1'))

3

# Python Evaluation

In [86]:
eval("9 + 5")

14

In [87]:
x = 2
eval("x + 3")

5

In [88]:
eval('print(2 + 3)')

5

# Athlete Sort
## list.sort(reverse=True|False, key=lamda x : x[k])

In [98]:
def sortSecond(val): 
    return val[1]  

cars = [
 ['Ford',  2005],
 ['Mitsubishi', 2000],
 ['BMW',  2019],
 ['VW', 2011]
]

cars.sort(key=sortSecond)

In [99]:
cars

[['Mitsubishi', 2000], ['Ford', 2005], ['VW', 2011], ['BMW', 2019]]

In [102]:
cars.sort(key=lambda x: x[0])

In [109]:
for i in cars:
    print(*i)

BMW 2019
Ford 2005
Mitsubishi 2000
VW 2011

# Any or All
any()

This expression returns True if any element of the iterable is true.
If the iterable is empty, it will return False.

all()

This expression returns True if all of the elements of the iterable are true. If the iterable is empty, it will return True.

In [110]:
any([1>0,1==0,1<0])

True

In [111]:
all(['a'<'b','b'<'c'])

True

In [113]:
all([1<0,2<4,3<2])

False

In [114]:
s = [12, 9, 61, 5, 14 ]

In [142]:
print(any([i >0 for i in s])) # check whether all integer are more than 0

True

## palindromic integer

In [144]:
ss =['12', '9', '61', '5', '14']

In [145]:
print(any([x == x[::-1] for x in ss]))

True

# Customized Sort

In [158]:
s = 'Sorting1234'

print(*sorted(s, key=lambda c: (-ord(c) >> 5, c in '02468', c)), sep='')

print(*sorted(s, key=lambda c: (c.isdigit() - c.islower(), c in '02468', c)), sep='')

order = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ1357902468'
print(*sorted(s, key=order.index), sep='')

import string
print(*sorted(s, key=(string.ascii_letters + '1357902468').index), sep='')

ginortS1324
ginortS1324
ginortS1324
ginortS1324

In [159]:
st = []
for c in s:
    i = (c.isdigit() - c.islower(), c in '02468', c)
    st.append(i)
    v = sorted(st,key = lambda c : i)
    print(c,i)

S (0, False, 'S')
o (-1, False, 'o')
r (-1, False, 'r')
t (-1, False, 't')
i (-1, False, 'i')
n (-1, False, 'n')
g (-1, False, 'g')
1 (1, False, '1')
2 (1, True, '2')
3 (1, False, '3')
4 (1, True, '4')