There are four collection data types in the Python programming language:

* List is a collection which is ordered and changeable. Allows duplicate members.

* Tuple is a collection which is ordered and unchangeable. Allows duplicate members.

* Set is a collection which is unordered and unindexed. No duplicate members.

* Dictionary is a collection which is unordered, changeable and indexed. No duplicate members.

# List

## Join Two Lists

In [94]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [95]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

for x in list2:
  list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [96]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [97]:
# make a new list
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

## Practice

In [1]:
ListOfNumbers = [ x for x in range(10) ]

In [2]:
ListOfNumbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
print([[x, y] for x in [1, 2, 3] for y in [4, 5, 6]])

[[1, 4], [1, 5], [1, 6], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6]]

In [4]:
results = []
for x in [1, 2, 3]:
    for y in [4, 5, 6]:
        results.append([x, y])

In [5]:
results

[[1, 4], [1, 5], [1, 6], [2, 4], [2, 5], [2, 6], [3, 4], [3, 5], [3, 6]]

In [6]:
# with filter
ListOfThreeMultiples = [x for x in range(10) if x % 3 == 0] # Multiples of 3 below 10

In [7]:
ListOfThreeMultiples

[0, 3, 6, 9]

In [11]:
x=1
y=1
z=1
n=2

In [14]:
print([[a,b,c] for a in range(x+1) for b in range(y+1) for c in range(z+1) if a + b+c !=n])

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 1]]

# second largest

In [2]:
x = float("inf")

In [14]:
n = 5
arr = [2,3,6,6, 5]

In [15]:
print(max([x for x in arr if x != max(arr)]))

5

In [21]:
largest = -x
second_largest = -x-1
for i in arr:
    if i > largest:
        second_largest = largest
        largest = i
    elif i > second_largest and i != largest:
        second_largest = i
print(second_largest)

# 如果求的是第三大的，还要再写一轮if

5

In [22]:
arr = arr[:n]
i=0
a=max(arr)
ar=[]
b=len(arr)
for i in range(0,b) :
    if arr[i]==a:
        continue
    else:
        ar.append(arr[i])

print (max(ar))

5

In [20]:
print(sorted(set(arr))[-2])

5

In [24]:
largest = max(arr)
sub_arr = []
for i in arr:
    if i == largest:
        continue
    else:
        sub_arr.append(i)
print(max(sub_arr))

5

# Nested List
A nested list is a list that contains another list (i.e.: a list of lists). It is also referred to as a multi-diminsional array. For example, a 2 dimensional array is used below:

In [25]:
nested_list = [['blue', 'green'], ['red', 'black'], ['blue', 'white']]
print(len(nested_list))
print(nested_list[1])
print(nested_list[1][0])

3
['red', 'black']
red

## Go through every element in the list

In [27]:
nested_list = [['blue', 'green'], ['red', 'black'], ['blue', 'white']]
for inner in nested_list:
    for value in inner:
        print(value)

blue
green
red
black
blue
white

In [43]:
x = [['Harry',37.21], ['Berry', 37.21], ['Tina', 37.2], ['Akriti', 41], ['Harsh',39]]

In [57]:
x.sort()
x 
# 默认是以第一个作为sort的依据

[['Akriti', 41],
 ['Berry', 37.21],
 ['Harry', 37.21],
 ['Harsh', 39],
 ['Tina', 37.2]]

In [58]:
def takeSecond(elem):
    return elem[1]

In [59]:
x.sort(key=takeSecond)
x

[['Tina', 37.2],
 ['Berry', 37.21],
 ['Harry', 37.21],
 ['Harsh', 39],
 ['Akriti', 41]]

In [61]:
# converted to nested_list from value
a=[]
for _ in x:
    name = _[0]
    score = float(_[1])
    a.append([score, name])

print(a)
a.sort()

b = [i for i in a if i[0] != a[0][0]]
print(b)
c = [j for j in b if j[0] == b[0][0]]
print(c)
c.sort(key=lambda x: x[1]) #sort by alphabet
for i in range(len(c)):
    print(c[i][1])

[[37.2, 'Tina'], [37.21, 'Berry'], [37.21, 'Harry'], [39.0, 'Harsh'], [41.0, 'Akriti']]
[[37.21, 'Berry'], [37.21, 'Harry'], [39.0, 'Harsh'], [41.0, 'Akriti']]
[[37.21, 'Berry'], [37.21, 'Harry']]
Berry
Harry

# Dictionary
A dictionary is a data type which stores values in pairs. For each element in the dictionary, there is a unique key that points to a value. A dictionary is mutable. It can be changed.

In [63]:
a_dict = {'one': 1} # Here 'one' is the key.

In [64]:
a_dict

{'one': 1}

Note: The key of a dictionary is immutable. We cannot use a list as a key because a list is mutable. But we can make a tuple of list and use as key.

In [65]:
a_dict['two'] = 2 # Adds key 'two' which points to 2
print(a_dict['one'])
print(a_dict)

1
{'one': 1, 'two': 2}

In [66]:
if 'three' in a_dict:
    # To check whether a certain string exist as a key in the dictionary  
    print(a_dict['three'])
else:  
    print("Three not there")

Three not there

In [67]:
del a_dict['one']
# Deletes index 'one' and the value associated with it

In [68]:
a_dict

{'two': 2}

## loop through a dictionary

In [70]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [72]:
for x in thisdict:
  print(x) #Print all key names in the dictionary, one by one

brand
model
year

In [73]:
for x in thisdict:
  print(thisdict[x])  #Print all values in the dictionary, one by one

Ford
Mustang
2018

In [74]:
for x in thisdict.values():
  print(x)

Ford
Mustang
2018

In [75]:
# Loop through both keys and values, by using the items() method
for x, y in thisdict.items():
  print(x, y)

brand Ford
model Mustang
year 2018

## Dictionary Length

In [76]:
print(len(thisdict))

3

## Dictionary Change

In [77]:
# add items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [80]:
# remove items 1
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)
# The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'year': 1964}
{'brand': 'Ford'}

In [81]:
# remove item 2
# The del keyword removes the item with the specified key name:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [85]:
# remove disctionary
# The del keyword can also delete the dictionary completely
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

In [84]:
# remove disctionary
# The clear() method empties the dictionary:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [86]:
# Copy dictionary 1
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [87]:
# Copy Dictionary 2
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## Nested Dictionary

In [88]:
# Create three dictionaries, then create one dictionary that will contain the other three dictionaries
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}

In [89]:
myfamily

{'child1': {'name': 'Emil', 'year': 2004},
 'child2': {'name': 'Tobias', 'year': 2007},
 'child3': {'name': 'Linus', 'year': 2011}}

In [90]:
# It is also possible to use the dict() constructor to make a new dictionary

thisdict = dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

## practice

In [121]:
input=[['Harsh',[25,26.5,28]],['Anurag', [26,28,30]]]

In [128]:
student_marks = {}
for _ in input:
    name = _[0]
    scores = list(map(float, _[1]))
    student_marks[name] = scores
print(student_marks)
query_name = 'Harsh'
query_score = student_marks[query_name]
print(format(sum(query_score)/len(query_score),'.2f'))

{'Harsh': [25.0, 26.5, 28.0], 'Anurag': [26.0, 28.0, 30.0]}
26.50

# Tuple
Tuples are data structures that look a lot like lists. Unlike lists, tuples are immutable (meaning that they cannot be modified once created). This restricts their use because we cannot add, remove, or assign values; however, it gives us an advantage in space and time complexities.

A common tuple use is the swapping of  numbers:

In [146]:
a = 3
b =100

In [147]:
a, b = b, a

In [148]:
a, b

(100, 3)

Here a, b is a tuple, and it assigns itself the values of .
Another awesome use of tuples is as keys in a dictionary. In other words, tuples are hashable.

In [150]:
# You can access tuple items by referring to the index number, inside square brackets:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [151]:
## loop throght a tuple

In [152]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [153]:
# Tuples are unchangeable, so you cannot remove items from it, but you can delete the tuple completely:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [154]:
# Join Two Tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [158]:
tuple3.count("a")

1

### converted map objective to tuple
tuple()

## practice

In [167]:
# hash
hash((1,2))

3713081631934410656

In [168]:
hash((2,1))

3713082714465905806

In [173]:
x="ilove"
y="i"+"love"
z="iloveyou"
id(x),id(y),id(z)

(1706572504288, 1706572504288, 1706572662192)

In [172]:
hash(x),hash(y),hash(z)

(8714500171911547178, 8714500171911547178, 8779867120120267297)

In [178]:
a=[1,2,3]
print(id(a))
def func(p):
    p.append(4)
    return p

b=func(a)
print(b)
print(id(b))

1706572517640
[1, 2, 3, 4]
1706572517640

In [181]:
# 不可哈希的数据类型，即可变的数据结构 (字典dict，列表list，集合set)

In [187]:
a

[1, 2, 3, 4]

In [188]:
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [183]:
c=100
dir(c)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

# Set - not indexed

* A set is an unordered collection of elements without duplicate entries.
* When printed, iterated or converted into a sequence, its elements will appear in an arbitrary order.

In [189]:
print(set())

set()

In [190]:
set('HackerRank')

{'H', 'R', 'a', 'c', 'e', 'k', 'n', 'r'}

In [191]:
set([1,2,1,2,3,4,5,6,0,9,12,22,3])

{0, 1, 2, 3, 4, 5, 6, 9, 12, 22}

In [192]:
set((1,2,3,4,5,5))

{1, 2, 3, 4, 5}

In [194]:
set(['H','a','c','k','e','r','r','a','n','k'])

{'H', 'a', 'c', 'e', 'k', 'n', 'r'}

In [193]:
set(set(['H','a','c','k','e','r','r','a','n','k']))

{'H', 'a', 'c', 'e', 'k', 'n', 'r'}

In [195]:
set({'Hacker' : 'DOSHI', 'Rank' : 616 })

{'Hacker', 'Rank'}

In [197]:
set(enumerate(['H','a','c','k','e','r','r','a','n','k']))

{(0, 'H'),
 (1, 'a'),
 (2, 'c'),
 (3, 'k'),
 (4, 'e'),
 (5, 'r'),
 (6, 'r'),
 (7, 'a'),
 (8, 'n'),
 (9, 'k')}

In [130]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

Access Items

* You cannot access items in a set by referring to an index or a key.

* But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [131]:
for x in thisset:
  print(x)

banana
cherry
apple

## MODIFYING SETS

In [207]:
myset = set(['a', 'b'])
myset.add('c')
myset

{'a', 'b', 'c'}

In [211]:
myset.update([1, 2, 3, 4])
myset

{1, 2, 3, 4, 'a', 'b', 'c'}

## REMOVING ITEMS

In [132]:
# Remove Item 1
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [133]:
# Remove Item 2 
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

In [137]:
# Remove Item 3 
# You can also use the pop(), method to remove an item, but this method will remove the last item. 
# Remember that sets are unordered, so you will not know what item that gets removed.
# The return value of the pop() method is the removed item.
thisset = {"apple", "banana", "cherry"}
x = thisset.pop()
print(x)
print(thisset)

banana
{'cherry', 'apple'}

## Join Two Sets

In [138]:
# Union 
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)

{1, 2, 'a', 'b', 3, 'c'}

In [139]:
# Update（）
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 'a', 'b', 3, 'c'}

In [140]:
# Make a set
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

## COMMON SET OPERATIONS

In [212]:
a = {2, 4, 5, 9}
b = {2, 4, 11, 12}

In [213]:
a.union(b)

{2, 4, 5, 9, 11, 12}

In [214]:
a.intersection(b)

{2, 4}

In [215]:
a.difference(b)

{5, 9}

## Practice

In [202]:
# array and calculate average of distinct value
arr = [161,182,161,154,176,170,167,171,170,174]

In [203]:
st = set(arr)
st

{154, 161, 167, 170, 171, 174, 176, 182}

In [204]:
sum(st)

1355

In [142]:
# test whether it is subset
a =  {1,2,3,5,6}
b =  {9,8,5,6,3,2,1,4,7}

In [143]:
a.issubset(b)

True

In [144]:
# strict superset